@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-zinc-900 dark:bg-zinc-950 dark:text-zinc-300;
}

/* New Loader CSS */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#3B82F6 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,#3B82F6); /* Changed color to blue */
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{ 
  100%{transform: rotate(1turn)}
}
